* {
    font-family: Verdana, sans-serif;
}


.gorna {
    display: flex;
    background-color:SeaGreen ; 
    color:white ;
    height: 260px;
    line-height: 150px;
    font-size: 160%;
}


.lewy {
    width: 75%;
    padding-left: 20px;
}


.prawy {
    width: 25%;
    text-align: right;
    padding-right: 20px;
}

.prawy img {
    box-shadow: DimGray;
}


.glowny {
    background-color:MintCream ;
    padding: 80px;
}


.stopka {
    display: flex;
}

.stopka_lewa, .stopka_prawa {
    background-color: SeaGreen;
    color: #ffffff;
    width: 50%;
    height: 70px;
    text-align: center;
    line-height: 70px;
}


input, button {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    background-color:MintCream;
    color: SeaGreen;
    padding: 15px;
    line-height: 70px;
}
